<% provide(:title, 'All users')%>

<h1>Serch users</h1>

<%= form_tag :users, method: :get, class: "navbar-form search-form", remote: true do %>
<%= text_field_tag(:search, params[:search], placeholder: "User Search", class: "form-control") %>
<% end %>

<ul class="users" id="ajax-users">
</ul>

<h1>All users</h1>


<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
